img{
    width:1000px;
    
    }
html{
    text-align:center;
    }
#scrtimg{
    display:none;
    }    
img{
    border-top-left-radius: 100% 100%;
     border-top-right-radius: 100% 100%;
     border-bottom-right-radius: 100% 100%;
     border-bottom-left-radius: 100% 100%;
    }    